spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/test;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2
  jpa:
    properties:
      hiberate:
        dialect: org.hibernate.dialect.MySQL57Dialect
        format_sql: true
        ddl-auto: create
    show-sql: true
    logging:
      level:
        org.hibernate.SQL: debug
        org.hibernate.type: trace